html {
  scroll-padding-top: 80px;
}

header {
  height: 80px; 
}

section {
  padding: 6rem 2rem;
  text-align: center;
}

#about {
  background: linear-gradient(to bottom, #243b55, #141e30);
  color: #fff;
  padding-left: 400px;
  padding-right: 400px;
  text-align: center;
  margin: 20px;
}

#about h2 {
  font-size: 4rem;
  color: #fdbb2d;
}

#about p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  color: #fff;
}

.about-popup-button {
  font-size: 0.9rem; 
  padding: 8px 16px;
  background-color: #fdbb2d;
}

.close-popup-button {
  font-size: 0.9rem;
  padding: 8px 16px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0; 
}

.popup-menu {
  background-color: white;
  color:#0d1115;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  overflow-y: auto;
  max-height: 80%;
}

.close-popup-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.close-popup-button:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  #about {
    padding-left: 5px;
    padding-right: 5px;
    margin: 20px; 
  }

  #about h2 {
    font-size: 3rem; 
  }

  #about p {
    font-size: 1rem;
  }

  .popup-menu {
    width: 90%;
    max-width: 400px; 
  }

  .about-popup-button {
    font-size: 0.9rem; 
    padding: 8px 16px;
    background-color: #fdbb2d;
  }

  /* Close Button */
  .close-popup-button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

#achievements {
  background: linear-gradient(to bottom, #1a2a6c, #243b55);
  color: #fff;
}

#achievements h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #fdbb2d;
}

.achievements-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.achievement {
  width: 300px;
  padding: 1rem;
  background: #1a2a6c;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.achievement img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.achievement h3 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem;
  color: #fdbb2d;
  padding-left: 50px;
  padding-right: 50px;
}

.achievement p {
  font-size: 1rem;
  line-height: 1.4;
  color: #fff; 
}

.achievement a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none; 
  z-index: 1;
}

.achievement:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

.achievement a:hover {
  text-decoration: none; 
}

a {
  color: #fff; 
  text-decoration: none; 

a:hover {
  color: #fdbb2d; 
}

#join {
  background: linear-gradient(to bottom, #243b55, #141e30);
}

#join h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #fdbb2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #141e30, #243b55);
  color: #fff;
  line-height: 1.6;
}

header {
  background: linear-gradient(90deg, #1a2a6c, #b21f1f, #fb9507);
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

header ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
}

header ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #fdbb2d;
  bottom: -3px;
  left: 0;
  transition: width 0.3s ease;
}

header ul li a:hover::after {
  width: 100%;
}

.header-logo {
  vertical-align: middle;
  filter: invert(1) brightness(2);
  max-width: 100px; 
  height: auto;
  margin-top: 10px;
}

.mobile-menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.mobile-menu-icon .line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.4s;
}

.social-icons {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 1rem;
}

.social-icons a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  color: #fdbb2d;
  transform: scale(1.2);
}

.social-icons img {
  width: 40px; 
  height: 40px; 
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  z-index: 0;
}

.logo-overlay {
  position: relative;
  z-index: 1;
  text-align: center;
}

.hero-logo {
  max-width: 200px; 
  width: 100%;
  filter: invert(1); 
}

.hero h1 {
  margin-top: 1rem;
  font-size: 3rem;
  color: white; 
}

@media (max-width: 768px) {
  .logo-container {
    text-align: center;
    padding: 10px 0;
  }

  .header-logo {
    width: 50%;  
    height: auto;
  }

  .mobile-menu-icon {
    display: flex;
  }
  
  nav ul {
    display: none;
  }
  
  nav ul.mobile-menu-open {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    background: rgba(0, 0, 0, 0.9); 
    padding: 20px;
    margin: 0;
    border-radius: 10px; 
    list-style: none;
    width: 50vw;
    height: auto;
    max-height: 90vh; 
    overflow-y: auto;
    position: absolute; 
    top: 100%; 
    right: 10px; 
    z-index: 1000; 
  }
  
  nav ul li {
    width: 100%; 
    padding: 10px 0; 
    text-align: center; 
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px; 
  }
  

  nav ul li a {
    font-size: 1.2rem;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: block; 
    text-align: center; 
  }

  nav ul li a:hover {
    background: #fdbb2d;
    border-radius: 5px;
    color: #141e30;
  }
}

@media (min-width: 769px) {
  .logo-container {
    display: flex;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    margin: 0 10px;
  }
}

#expect {
  font-size: 2.5rem;
  margin: 1rem 0 0.5rem;
  color: #fdbb2d;
}

.instagram-posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
}

.instagram-media {
  background: #FFF;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 1px;
  max-width: 250px; 
  min-width: 250px; 
  padding: 0;
  width: 100%;
}

.instagram-media > div {
  padding: 8px; 
}

.instagram-media a {
  background: #FFFFFF;
  line-height: 0;
  padding: 0 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.instagram-media a > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.instagram-media a > div > div {
  background-color: #F4F4F4;
  border-radius: 50%;
  flex-grow: 0;
  height: 20px; 
  margin-right: 8px; 
  width: 20px; 
}

.instagram-media a > div > div + div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.instagram-media a > div > div + div > div {
  background-color: #F4F4F4;
  border-radius: 4px;
  flex-grow: 0;
  height: 7px;
  margin-bottom: 3px; 
  width: 50px;
}

.instagram-media a > div > div + div > div + div {
  background-color: #F4F4F4;
  border-radius: 4px;
  flex-grow: 0;
  height: 7px; 
  width: 30px;
}

.instagram-media div[style*="padding: 19% 0"] {
  padding: 19% 0;
}

.instagram-media div[style*="display:block; height:50px"] {
  display: block;
  height: 25px; 
  margin: 0 auto 6px; 
  width: 25px; 
}

.instagram-media div[style*="padding-top: 8px"] {
  padding-top: 4px; 
}

.instagram-media div[style*="color:#3897f0"] {
  color: #3897f0;
  font-family: Arial, sans-serif;
  font-size: 10px; 
  font-style: normal;
  font-weight: 550;
  line-height: 12px;
}

.instagram-media div[style*="padding: 12.5% 0"] {
  padding: 6.25% 0; 
}

.instagram-media div[style*="display: flex"] {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px; 
  align-items: center;
}

.instagram-media div[style*="display: flex"] > div {
  background-color: #F4F4F4;
  border-radius: 50%;
  height: 6.25px; 
  width: 6.25px;
  transform: translateX(0px) translateY(3.5px);
}

.instagram-media div[style*="display: flex"] > div + div {
  background-color: #F4F4F4;
  height: 6.25px; 
  transform: rotate(-45deg) translateX(1.5px) translateY(0.5px);
  width: 6.25px; 
  flex-grow: 0;
  margin-right: 7px; 
  margin-left: 1px;
}

.instagram-media div[style*="display: flex"] > div + div + div {
  background-color: #F4F4F4;
  border-radius: 50%;
  height: 6.25px; 
  width: 6.25px; 
  transform: translateX(4.5px) translateY(-9px);
}

.instagram-media div[style*="margin-left: 8px"] {
  margin-left: 4px; 
}

.instagram-media div[style*="margin-left: 8px"] > div {
  background-color: #F4F4F4;
  border-radius: 50%;
  flex-grow: 0;
  height: 10px; 
  width: 10px; 
}

.instagram-media div[style*="margin-left: 8px"] > div + div {
  width: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-left: 3px solid #f4f4f4;
  border-bottom: 1px solid transparent;
  transform: translateX(8px) translateY(-2px) rotate(30deg);
}

.instagram-media div[style*="margin-left: auto"] {
  margin-left: auto;
}

.instagram-media div[style*="margin-left: auto"] > div {
  width: 0;
  border-top: 4px solid #F4F4F4;
  border-right: 4px solid transparent;
  transform: translateY(8px);
}

.instagram-media div[style*="margin-left: auto"] > div + div {
  background-color: #F4F4F4;
  flex-grow: 0;
  height: 6px;
  width: 8px;
  transform: translateY(-2px);
}

.instagram-media div[style*="margin-left: auto"] > div + div + div {
  width: 0;
  height: 0;
  border-top: 4px solid #F4F4F4;
  border-left: 4px solid transparent;
  transform: translateY(-2px) translateX(4px);
}

.instagram-media div[style*="padding: 12.5% 0"] {
  padding: 6.25% 0;
}

.instagram-media div[style*="padding: 12.5% 0"] > div {
  background-color: #F4F4F4;
  border-radius: 4px;
  flex-grow: 0;
  height: 7px;
  margin-bottom: 3px; 
  width: 112px; 
}

.instagram-media div[style*="padding: 12.5% 0"] > div + div {
  background-color: #F4F4F4;
  border-radius: 4px;
  flex-grow: 0;
  height: 7px;
  width: 72px; 
}

.instagram-media p {
  color: #c9c8cd;
  font-family: Arial, sans-serif;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 0;
  margin-top: 4px; 
  overflow: hidden;
  padding: 4px 0 3.5px; 
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.instagram-media p a {
  color: #c9c8cd;
  font-family: Arial, sans-serif;
  font-size: 10px; 
  font-style: normal;
  font-weight: normal;
  line-height: 12px;
  text-decoration: none;
}

#footer {
  background: linear-gradient(to bottom, #0d1115, #141e30);
  color: #fff;
  padding: 2rem 1rem;
  text-align: center; 
  font-size: 0.9rem; 
}

.footer-section {
    align-items: center; 
    gap: 1rem; 
    margin-top: 1rem; 

.footer-section p {
  margin-bottom: 50px;
}

.footer-copyright {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: #666; /* Subtle color for less emphasis */
    text-align: left;
}
